<mat-toolbar class="public-navbar">
  <a routerLink="/" class="logo">🏕️ Camping PMS</a>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Accueil</a>
  <a mat-button routerLink="/hebergements">Hébergements</a>
  <button mat-icon-button (click)="themeService.toggleTheme()">
    <mat-icon>{{ themeService.isDarkMode() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <a mat-stroked-button routerLink="/login" class="login-btn">
    <mat-icon>lock</mat-icon> Connexion
  </a>
</mat-toolbar>